# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
backend/deallense.db

# Node
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local

# OS/editor
.DS_Store
.idea/
.vscode/

